<ion-header-bar class="bar-stable">
    <h1 class="title">Hello World!</h1>
</ion-header-bar>
<ion-content class="padding">
    <p>
        Hello World, how are you?
        <a href="#/page2">Go to Page 2</a>
    </p>
</ion-content>

<ion-side-menus>
    <ion-side-menu-content>
        <!-- 01. Here goes the view content -->
    </ion-side-menu-content>
    <ion-side-menu side="left" expose-aside-when="large">
        <!-- 02. While in here goes the menu contents -->
    </ion-side-menu>
</ion-side-menus> 